{% extends 'frontend/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- *** START PAGE MAIN CONTENT *** -->
    <main class="page_main_wrapper" xmlns="http://www.w3.org/1999/html">

        <!-- START NEWSTRICKER -->
        <div class="container">
            <div class="newstricker_inner">
                <div class="trending"><strong>Trending</strong> Now</div>
                <div id="NewsTicker" class="owl-carousel owl-theme">

                    {% for trend in trending %}
                        <div class="item">
                            <a href="{% url 'ArticleDetailView' trend.article.category.slug trend.article.slug %}">{{ trend.article.title }}</a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!--  END OF /. NEWSTRICKER -->

        <div class="container">
            <div class="row row-m">
                <!-- START MAIN CONTENT -->
                <div class="col-sm-8 col-p  main-content">
                    <div class="theiaStickySidebar">
                        <div class="post_details_inner">
                            <div class="post_details_block details_block2">
                                <div class="post-header">
                                    <ul class="td-category">
                                        <li><a class="post-category"
                                               href="{% url 'ArticleListView' article.category.slug %}">{{ article.category.title }}</a>
                                        </li>
                                    </ul>
                                    <h2>{{ article.title }}</h2>
                                    <ul class="authar-info">
                                        <li><a href="#" class="link">by {{ article.author.get_full_name }}</a></li>
                                        <li>{{ article.updated_at }}</li>
                                        <li><a href="#" class="link">{% get_hit_count for article %} views</a></li>
                                    </ul>
                                </div>
                                <figure class="social-icon">
                                    <img src="{{ article.thumbnail.url }}" class="img-responsive" alt=""/>
                                    <iframe width="560" height="315"
                                            src="https://www.youtube.com/embed/{{ article.video_key }}?controls=0"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    <div>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="hidden-xs"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="hidden-xs"><i class="fa fa-pinterest-p"></i></a>
                                    </div>
                                </figure>
                                {{ article.details|safe }}
                            </div>

                        </div>

                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add728x90-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->
                        <!-- START RELATED ARTICLES -->
                        <div class="post-inner post-inner-2">
                            <!--post header-->
                            <div class="post-head">
                                <h2 class="title"><strong>Related </strong> Articles</h2>
                            </div>
                            <!-- post body -->
                            <div class="post-body">
                                <div id="post-slider-2" class="owl-carousel owl-theme">
                                    <!-- item one -->
                                    <div class="item">
                                        <div class="news-grid-2">
                                            <div class="row row-margin">
                                                {% for related_article in article.get_related_posts_by_tags %}
                                                    <div class="col-xs-6 col-sm-4 col-md-4 col-padding">
                                                        <div class="grid-item">
                                                            <div class="grid-item-img">
                                                                <a href="{% url 'ArticleDetailView' related_article.category.slug related_article.slug %}">
                                                                    <img src="{{ related_article.thumbnail.url }}"
                                                                         style="height: 139px;"
                                                                         class="img-responsive" alt="">
                                                                    <div class="link-icon"><i class="fa fa-play"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <h5>
                                                                <a href="{% url 'ArticleDetailView' related_article.category.slug related_article.slug %}"
                                                                   class="title">{{ related_article.title }}</a></h5>
                                                            <ul class="authar-info">
                                                                <li>{{ related_article.updated_at }}</li>
                                                                <li class="hidden-sm"><a href="#" class="link">
                                                                    {% get_hit_count for related_article %} views</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Post footer -->
                            <div class="post-footer">
                                <div class="row thm-margin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 thm-padding">
                                        <a href="{% url 'ArticleListView' article.category.slug %}" class="more-btn">More {{ article.category.title }}
                                            articles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF /. RELATED ARTICLES -->
                        <!-- START COMMENT -->
                        <div class="comments-container">
                            <h3>Comments ({{ post_comments.count }})</h3>
                            <ul class="comments-list">
                                {% for comment in post_comments %}
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img src="{{ comment.user.profile_pic.url }}"
                                                                             alt=""></div>
                                            <div class="comment-box">
                                                <div class="comment-content">
                                                    <div class="comment-header"><cite
                                                            class="comment-author">{{ comment.user.get_full_name }}</cite>
                                                        <time datetime="2012-10-27" class="comment-datetime">
                                                            {{ comment.updated_at }}
                                                        </time>
                                                    </div>
                                                    <p>{{ comment.details }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- END OF /. COMMENT -->
                        <!-- START COMMENTS FORMS -->
                        <form class="comment-form" action="{% url 'AddCommentView' article.id %}" method="post">
                            <h3><strong>Leave</strong> a Comment</h3>
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <button class="btn btn-news" type="submit"> Submit</button>
                        </form>
                        <!-- END OF /. COMMENTS FORMS -->
                    </div>
                </div>
                <!-- END OF /. MAIN CONTENT -->
                {% include 'frontend/right_sidebar.html' %}
            </div>
        </div>
    </main>
    <!-- *** END OF /. PAGE MAIN CONTENT *** -->


{% endblock %}