{% extends "frontend/base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block content %}
    <!-- *** START PAGE MAIN CONTENT *** -->
    <main class="page_main_wrapper">
        <!-- START NEWSTRICKER -->
        <div class="container">
            <div class="newstricker_inner">
                <div class="trending"><strong>Trending</strong> Now</div>
                <div id="NewsTicker" class="owl-carousel owl-theme">

                    {% for trend in trending %}
                        <div class="item">
                            <a href="{% url 'ArticleDetailView' trend.article.category.slug trend.article.slug %}">{{ trend.article.title }}</a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!--  END OF /. NEWSTRICKER -->

        <!--  FEATURED NEWS SECTION -->
        <section class="slider-inner">
            <div class="container">
                <div class="row thm-margin">
                    <div class="col-xs-12 col-sm-8 col-md-8 thm-padding">
                        <div class="slider-wrapper">
                            <div id="owl-slider" class="owl-carousel owl-theme">

                                {% for feature in featured|slice:":3" %}
                                    <!-- Slider item one -->
                                    <div class="item">
                                        <div class="slider-post post-height-1">
                                            <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}"
                                               class="news-image"><img
                                                    src="{{ feature.article.thumbnail.url }}"
                                                    alt="" class="img-responsive"></a>
                                            <div class="post-text">
                                                <span class="post-category">{{ feature.article.category.name }}</span>
                                                <h2>
                                                    <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}">{{ feature.article.title }}</a>
                                                </h2>
                                                <ul class="authar-info">
                                                    <li class="authar"><a
                                                            href="#">by {{ feature.article.author.get_full_name }}</a>
                                                    </li>
                                                    <li class="date">{{ feature.article.updated_at }}</li>
                                                    <li class="view"><a href="#">{% get_hit_count for feature.article %}
                                                        views</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Slider item one -->
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 thm-padding">
                        <div class="row slider-right-post thm-margin">
                            {% for feature in featured %}
                                {% if forloop.counter == 4 %}
                                    <div class="col-xs-6 col-sm-12 col-md-12 thm-padding">
                                        <div class="slider-post post-height-2">
                                            <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}"
                                               class="news-image"><img
                                                    src="{{ feature.article.thumbnail.url }}"
                                                    alt=""
                                                    class="img-responsive"></a>
                                            <div class="post-text">
                                                <span class="post-category">{{ feature.article.category.name }}</span>
                                                <h4>
                                                    <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}">{{ feature.article.title }}</a>
                                                </h4>
                                                <ul class="authar-info">
                                                    <li class="authar hidden-xs hidden-sm"><a
                                                            href="#">by {{ feature.article.author.get_full_name }}</a>
                                                    </li>
                                                    <li class="hidden-xs">{{ feature.article.updated_at }}</li>
                                                    <li class="view hidden-xs hidden-sm"><a
                                                            href="#">{% get_hit_count for feature.article %} views</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                                {% if forloop.counter == 5 %}
                                    <div class="col-xs-6 col-sm-12 col-md-12 thm-padding">
                                        <div class="slider-post post-height-2">
                                            <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}"
                                               class="news-image"><img
                                                    src="{{ feature.article.thumbnail.url }}"
                                                    alt=""
                                                    class="img-responsive"></a>
                                            <div class="post-text">
                                                <span class="post-category">{{ feature.article.category.title }}</span>
                                                <h4>
                                                    <a href="{% url 'ArticleDetailView' feature.article.category.slug feature.article.slug %}">{{ feature.article.title }}</a>
                                                </h4>
                                                <ul class="authar-info">
                                                    <li class="authar hidden-xs hidden-sm"><a
                                                            href="#">by {{ feature.article.author.get_full_name }}</a>
                                                    </li>
                                                    <li class="hidden-xs">{{ feature.article.updated_at }}</li>
                                                    <li class="view hidden-xs hidden-sm"><a
                                                            href="#">{% get_hit_count for feature.article %} views</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END OF /. FEATURED NEWS SECTION -->

        <!--  LATEST & POPULAR NEWS SECTION -->
        <div class="container">
            <div class="row row-m">
                <div class="col-sm-8 col-p  main-content">
                    <div class="theiaStickySidebar">
                        <!-- START POST CATEGORY STYLE THREE (More news) -->
                        <div class="post-inner">
                            <!-- post header -->
                            <div class="post-head">
                                <h2 class="title"><strong>Latest</strong> News</h2>
                            </div>

                            <!-- post body -->
                            <div class="post-body">
                                <div class="row row-m">
                                    {% for article in latest_article|slice:":4" %}
                                        <div class="col-sm-6 col-p">
                                            <article>
                                                <figure>
                                                    <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}">
                                                        <img src="{{ article.thumbnail.url }}" height="242" width="345"
                                                             alt="" class="img-responsive"></a>
                                                    <span class="post-category">{{ article.category.title }}</span>
                                                </figure>
                                                <div class="post-info">
                                                    <h3>
                                                        <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}">{{ article.title }}</a>
                                                    </h3>
                                                    <ul class="authar-info">
                                                        <li>
                                                            <i class="ti-timer"></i>{{ article.updated_at }}
                                                        </li>
                                                        <li>
                                                            <i class="ti-eye"></i>{% get_hit_count for article %}views
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                        <!-- END OF /. POST CATEGORY STYLE THREE (More news) -->
                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add728x90-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->
                        <!-- START CARD POST -->
                        <div class="row row-m">
                            <div class="col-sm-6 col-p">
                                <div class="posts card-post">
                                    {% for article in popular|slice:":1" %}
                                        <div class="post-grid post-grid-item">
                                            <figure class="posts-thumb">
                                                <span class="post-category">{{ article.content_object.category.name }}</span>
                                                <a href="{% url 'ArticleDetailView' article.content_object.category.slug article.content_object.slug %}">
                                                    <img src="{{ article.content_object.thumbnail.url }}"
                                                         alt="">
                                                </a>
                                            </figure>
                                            <div class="posts-inner">
                                                <h6 class="posts-title">
                                                    <a href="{% url 'ArticleDetailView' article.content_object.category.slug article.content_object.slug %}">
                                                        {{ article.content_object.title }}
                                                    </a>
                                                </h6>
                                                <ul class="authar-info">
                                                    <li><i class="ti-timer"></i>{{ article.content_object.updated_at }}
                                                    </li>
                                                </ul>
                                                <p>
                                                    {{ article.content_object.summary|safe }}
                                                </p>
                                            </div>
                                            <div class="posts__footer card__footer">
                                                <div class="post-author">
                                                    <figure class="post-author-avatar hidden-xs">
                                                        <img src="{{ article.content_object.author.profile_pic.url }}"
                                                             alt="Post Author Avatar">
                                                    </figure>
                                                    <div class="post-author-info ">
                                                        <h4 class="post-author-name">{{ article.content_object.author.get_full_name }}</h4>
                                                    </div>
                                                </div>
                                                <ul class="post-meta">
                                                    <li class="meta-item "><i class="ti-eye"></i>{{ article.hits }}
                                                        views
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="col-sm-6 col-p">
                                <div class="posts">
                                    <ul>
                                        {% for article in popular %}
                                            {% if forloop.counter != 1 %}

                                                <li class="post-grid">
                                                    <div class="posts-inner">
                                                        <span class="post-category">{{ article.content_object.category.name }}</span>
                                                        <h6 class="posts-title">
                                                            <a href="{% url 'ArticleDetailView' article.content_object.category.slug article.content_object.slug %}">
                                                                {{ article.content_object.title }}
                                                            </a>
                                                        </h6>
                                                        <ul class="authar-info">
                                                            <li>
                                                                <i class="ti-timer"></i>{{ article.content_object.updated_at }}
                                                            </li>
                                                            <li>
                                                                <i class="ti-eye"></i>{{ article.hits }}views
                                                            </li>
                                                        </ul>
                                                        <p>{{ article.content_object.summary|safe }}</p>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END OF /. CARD POST -->
                    </div>
                </div>
                {% include 'frontend/right_sidebar.html' %}

            </div>
        </div>
        <!-- END OF /. LATEST & POPULAR NEWS SECTION -->

        <!-- START FEATURED CATEGORIES -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="featured-inner">
                        <div id="featured-owl" class="owl-carousel">
                            {% for category in categories %}
                                <div class="item">
                                    <div class="featured-post">
                                        <a href="{% url 'ArticleListView' category.slug %}" class="news-image"><img
                                                src="{{ category.thumbnail.url }}" style="height: 140px;"
                                                alt="" class="img-responsive"></a>
                                        <div class="reatting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="post-text">
                                            <span class="post-category">{{ category.title }}</span>
                                            <h4>{{ category.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF /. FEATURED CATEGORIES -->

        <!-- START POLITICS AND SPORTS -->
        <div class="container">
            <div class="row row-m">
                <!-- START MAIN CONTENT -->
                <div class="col-sm-8 col-p main-content">
                    <div class="theiaStickySidebar">
                        <!-- START POST CATEGORY STYLE ONE (Popular news) -->
                        <div class="post-inner">
                            <!--post header-->
                            <div class="post-head">
                                <h2 class="title"><strong>Politics</strong></h2>
                            </div>
                            <!-- post body -->
                            <div class="post-body">

                                <!-- item one -->
                                <div class="item">
                                    <div class="row">
                                        {% for article in politics|slice:":1" %}
                                            <div class="col-sm-6 main-post-inner bord-right">
                                                <article>
                                                    <figure>
                                                        <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"><img
                                                                src="{{ article.thumbnail.url }}"
                                                                height="242"
                                                                width="345" alt="" class="img-responsive"></a>
                                                        <span class="post-category">{{ article.category.title }}</span>
                                                    </figure>
                                                    <div class="post-info">
                                                        <h3>
                                                            <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}">{{ article.title }}</a>
                                                        </h3>
                                                        <ul class="authar-info">
                                                            <li><i class="ti-timer"></i>{{ article.updated_at }}</li>
                                                            <li class="like">
                                                                <a href="#">
                                                                    <i class="ti-eye"></i>{% get_hit_count for article %}
                                                                    views
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <p>{{ article.summary|safe }}</p>
                                                    </div>
                                                </article>
                                            </div>
                                        {% endfor %}

                                        <div class="col-sm-6">

                                            <div class="news-list">
                                                {% for article in politics %}
                                                    {% if forloop.counter != 1 %}
                                                        <div class="news-list-item">
                                                            <div class="img-wrapper">
                                                                <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"
                                                                   class="thumb">
                                                                    <img src="{{ article.thumbnail.url }}"
                                                                         alt=""
                                                                         class="img-responsive">
                                                                    <div class="link-icon">
                                                                        <i class="fa fa-camera"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="post-info-2">
                                                                <h5>
                                                                    <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"
                                                                       class="title">{{ article.title }}</a>
                                                                </h5>
                                                                <ul class="authar-info">
                                                                    <li><i class="ti-timer"></i>{{ article.updated_at }}
                                                                    </li>
                                                                    <li class="like hidden-xs hidden-sm">
                                                                        <a href="#">
                                                                            <i class="ti-eye"></i>{% get_hit_count for article %}
                                                                            views
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- Post footer -->
                            <div class="post-footer">
                                <div class="row thm-margin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 thm-padding">
                                        <a href="{% url 'ArticleListView' 'politics' %}" class="more-btn">More Political
                                            News</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF /. POST CATEGORY STYLE ONE (Popular news) -->
                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add728x90-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->
                        <!-- START POST CATEGORY STYLE TWO (Travel news) -->
                        <div class="post-inner post-inner-2">
                            <!--post header-->
                            <div class="post-head">
                                <h2 class="title"><strong>Sports</strong> News</h2>
                            </div>
                            <!-- post body -->
                            <div class="post-body">
                                <!-- item one -->
                                <div class="item">
                                    <div class="row">

                                        <div class="col-sm-6 main-post-inner bord-right">
                                            {% for article in sports|slice:":1" %}
                                                <article>
                                                    <figure>
                                                        <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"><img
                                                                src="{{ article.thumbnail.url }}"
                                                                height="242"
                                                                width="345" alt="" class="img-responsive"></a>
                                                        <span class="post-category">{{ article.category.title }}</span>
                                                    </figure>
                                                    <div class="post-info">
                                                        <h3>
                                                            <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}">{{ article.title }}</a>
                                                        </h3>
                                                        <ul class="authar-info">
                                                            <li><i class="ti-timer"></i>{{ article.updated_at }}</li>
                                                            <li class="like"><a href="#"><i
                                                                    class="ti-eye"></i>{% get_hit_count for article %}
                                                                views</a></li>
                                                        </ul>
                                                        <p class="p">{{ article.summary|safe }}</p>
                                                    </div>
                                                </article>
                                            {% endfor %}
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="news-grid-2">
                                                <div class="row row-margin">
                                                    {% for article in sports %}
                                                        {% if forloop.counter != 1 %}
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-padding">
                                                                <div class="grid-item">
                                                                    <div class="grid-item-img">
                                                                        <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}">
                                                                            <img src="{{ article.thumbnail.url }}"
                                                                                 class="img-responsive" alt="">
                                                                            <div class="link-icon"><i
                                                                                    class="fa fa-play"></i></div>
                                                                        </a>
                                                                    </div>
                                                                    <h5>
                                                                        <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"
                                                                           class="title">{{ article.title }}</a></h5>
                                                                    <ul class="authar-info">
                                                                        <li>{{ article.updated_at }}</li>
                                                                        <li class="like hidden-sm"><a
                                                                                href="#">{% get_hit_count for article %}
                                                                            views</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer post -->
                            <div class="post-footer">
                                <div class="row thm-margin">
                                    <div class="col-xs-12 col-sm-8 col-md-9 thm-padding">
                                        <a href="{% url 'ArticleListView' 'sports' %}" class="more-btn">More Sports
                                            News</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  END OF /. POST CATEGORY STYLE TWO (Travel news) -->
                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add728x90-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->
                    </div>
                </div>
                <!-- END OF /. MAIN CONTENT -->
                <div class="col-sm-4 rightSidebar col-p">
                    <div class="theiaStickySidebar">

                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add320x270-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->

                        <!-- START CATEGORIES WIDGET -->
                        <div class="panel_inner categories-widget">
                            <div class="panel_header">
                                <h4><strong>Hot</strong> Categories</h4>
                            </div>
                            <div class="panel_body">
                                <ul class="category-list">
                                    {% for cat in hot_categories %}
                                        <li><a href="{% url 'ArticleListView' cat.1 %}">{{ cat.0 }}
                                            <span>{{ cat.2 }}</span></a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                        <!-- END OF /. CATEGORIES WIDGET -->
                        <!-- START ADVERTISEMENT -->
                        <div class="add-inner">
                            <img src="{% static 'assets/images/add320x270-1.jpg' %}" class="img-responsive" alt="">
                        </div>
                        <!-- END OF /. ADVERTISEMENT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF /. POLITICS AND SPORTS -->


        <section class="articles-wrapper">
            <div class="container">
                <div class="row row-m">
                    <div class="col-sm-8 main-content col-p">
                        <div class="theiaStickySidebar">
                            <!-- START POST CATEGORY STYLE FOUR (Latest articles ) -->
                            <div class="post-inner">
                                <!--post header-->
                                <div class="post-head">
                                    <h2 class="title"><strong>Other</strong> News</h2>
                                </div>
                                <!-- post body -->
                                <div class="post-body">
                                    {% for article in articles %}
                                        <div class="news-list-item articles-list">
                                            <div class="img-wrapper">
                                                <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"
                                                   class="thumb"><img
                                                        src="{{ article.thumbnail.url }}" alt=""
                                                        class="img-responsive"></a>
                                            </div>
                                            <div class="post-info-2">
                                                <h4>
                                                    <a href="{% url 'ArticleDetailView' article.category.slug article.slug %}"
                                                       class="title">
                                                        {{ article.title }}
                                                    </a>
                                                </h4>
                                                <ul class="authar-info">
                                                    <li><i class="ti-timer"></i>{{ article.updated_at }}</li>
                                                    <li><i class="ti-eye"></i>{% get_hit_count for article %} views
                                                    </li>
                                                </ul>
                                                <p class="hidden-sm">
                                                    {{ article.summary|safe }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div> <!-- /. post body -->

                            </div>
                            <!-- END OF /. POST CATEGORY STYLE FOUR (Latest articles ) -->
                        </div>
                    </div>
                    <div class="col-sm-4 rightSidebar col-p">
                        <div class="theiaStickySidebar">
                            <!-- START ARCHIVE -->
                            <div class="archive-wrapper">
                                <div id="datepicker"></div>
                            </div>
                            <!-- END OF /. ARCHIVE -->
                            <!-- START POLL WIDGET -->
                            <div class="panel_inner poll-widget">
                                <div class="panel_header">
                                    <h4><strong>Poll</strong></h4>
                                </div>
                                <div class="panel_body poll-content">
                                    <form method="get" id="home_poll">
                                        <h6>Is it fair for the WICB to ask for 20% of players' fees to allow them to
                                            participate in overseas T20 leagues?</h6>
                                        <ul>
                                            <li><input id="poll_5444" value="5444" name="poll" type="radio"><label
                                                    for="poll_5444">Yes, they have invested in developing talent</label>
                                            </li>
                                            <li><input id="poll_5445" value="5445" name="poll" type="radio"><label
                                                    for="poll_5445">No, this is restraint of trade</label></li>
                                        </ul>
                                        <a href="#" class="btn btn-news">Submit</a>
                                    </form>
                                </div>
                            </div>
                            <!-- END OF /. POLL WIDGET -->
                            <!-- START TAGS -->
                            <div class="panel_inner">
                                <div class="panel_header">
                                    <h4><strong>Tags </strong></h4>
                                </div>
                                <div class="panel_body">
                                    <div class="tags-inner">
                                        {% for tag in tags %}
                                            <a href="{% url 'ArticleListByTagView' tag.name %}" class="ui tag">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- END OF /. TAGS -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- *** END OF /. PAGE MAIN CONTENT *** -->

{% endblock %}